<mdl-card mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Évènement</h2>
  </mdl-card-title>
  <form  (submit)="onSubmit()" >
    <div>
      <mdl-textfield type="text" label="Nom"
                     name="name"
                     [(ngModel)]="editForm.name" floating-label required></mdl-textfield>
    </div>
    <mdl-select type="text"
                [(ngModel)]="editForm.type"
                label="Type"
                placeholder="type"
                name="type"
                floating-label required>
      <mdl-option *ngFor="let option of TYPES" [value]="option.key">{{option.value}}</mdl-option>
    </mdl-select>

    <div>
      <mdl-textfield type="text" label="Date"
                     name="date"
                     floating-label required
                     [(ngModel)]="editForm.dateTime"
      ></mdl-textfield>
    </div>

    <div>
      <mdl-list>
        <mdl-list-item *ngFor="let loop of (loops$ | async); let i=index" >
          <span>Boucle {{i}}</span>
          <span class="mdl-list__item-primary-content">{{loop.name}}</span>
        </mdl-list-item>
      </mdl-list>
    </div>

    <div>
      <button mdl-button mdl-button-type="fab" type="submit">
        <mdl-icon>save</mdl-icon>
      </button>
    </div>
  </form>
</mdl-card>
