<mdl-card mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>{{'EVENT' | translate}}</h2>
  </mdl-card-title>
  <form (submit)="onSubmit()">
    <div>
      <mdl-textfield type="text" label="Nom"
                     name="name"
                     [(ngModel)]="editForm.name" floating-label required></mdl-textfield>
    </div>
    <mdl-select type="text"
                [(ngModel)]="editForm.type"
                label="Type"
                placeholder="type"
                name="type"
                floating-label required>
      <mdl-option *ngFor="let option of TYPES" [value]="option.key">{{option.value}}</mdl-option>
    </mdl-select>

    <div>
      <h6>{{'ADMIN.EVENT.ADD_LOOP.DATE' | translate}}</h6>
      <mdl-textfield type="date"
                     name="date"
                     required
                     [(ngModel)]="editForm.dateTime"
      ></mdl-textfield>
    </div>

    <h6>{{'LOOPS' | translate}}</h6>
    <ul class="loop__list">
      <li *ngFor="let loop of loops; let i=index">
        <mdl-chip
          mdl-action-icon="cancel" (action-click)="deleteLoop(i)" mdl-label="{{loop.name}}">
          <span mdl-chip-contact class="mdl-color--blue mdl-color-text--white">{{i+1}}</span>
        </mdl-chip>
      </li>
      <li>
        <mdl-button mdl-button-type="icon" mdl-ripple (click)="onAdd()"
                    *ngIf="loops.length < 3">
          <mdl-icon>add</mdl-icon>
        </mdl-button>
      </li>
    </ul>

    <div>
      <button mdl-button mdl-button-type="fab" type="submit">
        <mdl-icon>save</mdl-icon>
      </button>
    </div>
  </form>
</mdl-card>

<admin-loop-dialog (trackClick)="onTrackClick($event)" #adminLoopDialog></admin-loop-dialog>
