<div class="track-list-container">
  <ul class="mdl-list">
    <li class="mdl-list__item mdl-list__item mdl-list__item--three-line"
        *ngFor="let event of events$ | async"
        (click)="onEventClick(event)">
                <span class="mdl-list__item-primary-content">
                    <span>{{event.name}}</span>
                </span>
      <span class="mdl-list__item-secondary-content">
                  <a class="mdl-list__item-secondary-action" [routerLink]="['edit',event.$key]"><i class="material-icons">mode edit</i></a>
                  <a class="mdl-list__item-secondary-action" (click)="deleteEvent(event)"><i class="material-icons">delete</i></a>
                </span>
    </li>
  </ul>
</div>
