<div class="mdl-grid">
  <div class="mdl-cell--6-col mdl-cell--4-col-phone">
    <h1>Parcours</h1>
    <form (submit)="onSubmit()">
      <div>
        <mdl-textfield type="text" label="Nom"
                       name="name"
                       [(ngModel)]="track.name"
                       floating-label required></mdl-textfield>
      </div>
      <div>
        <label >Categorie</label>
        <div *ngFor="let option of TYPES">
          <mdl-radio
            name="typeGroup"
            [(ngModel)]="track.type"
            [value]="option.key"
            mdl-ripple>
            {{option.value}}
          </mdl-radio>
        </div>
      </div>

      <div>
        <mdl-textfield type="number"
                       name="distance"
                       label="Distance (km)"
                       floating-label required
                       [(ngModel)]="track.distance"
        ></mdl-textfield>
      </div>
      <div>
        <mdl-textfield type="text" rows="5"
                       label="Contenu KML"
                       name="kmlContent"
                       floating-label required
                       placeholder="Contenu KML"
                       [(ngModel)]="kmlContent"
        >Contenu KML
        </mdl-textfield>
      </div>
      <button type="submit" mdl-button mdl-button-type="mini-fab" mdl-colored="primary">
        <mdl-icon>save</mdl-icon>
      </button>
    </form>
  </div>
  <div class="mdl-cell--6-col mdl-cell--4-col-phone">
    <map [track]="track$ | async"></map>
  </div>
</div>
