<mdl-card mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Parcours</h2>
  </mdl-card-title>
  <form (submit)="onSubmit()">
    <mdl-textfield type="text" label="Nom"
                   name="name"
                   [(ngModel)]="track.name"
                   floating-label required></mdl-textfield>
    <mdl-select #typeSelect
                type="text"
                name="type"
                label="Type"
                [(ngModel)]="track.type"
                (change)="onTypeChanged()"
                placeholder="Sélectionner le type"
                floating-label required
    >
      <mdl-option *ngFor="let option of TYPES" [value]="option.key">{{option.value}}</mdl-option>
    </mdl-select>

    <mdl-textfield type="number"
                   name="distance"
                   label="Distance"
                   floating-label required
                   [(ngModel)]="track.distance"
    ></mdl-textfield>
    <mdl-textfield type="text" rows="5"
                   label="Contenu KML"
                   name="kmlContent"
                   floating-label required
                   placeholder="Contenu KML"
                   [(ngModel)]="track.kmlContent"
    >Contenu KML
    </mdl-textfield>
    <button type="submit" mdl-button mdl-button-type="mini-fab" mdl-colored="primary">
      <mdl-icon>save</mdl-icon>
    </button>
  </form>
</mdl-card>
