@import "../../variables.scss";
@import "../../common.scss";

.track-list {
  &__container {
    height: 100vh;
  }

  &__list{
    width: 400px;
  }
}

.track-list-item {
  &__type {
    font-weight: bolder;
  }
}
