@import "./variables";
@import '~angular2-mdl/scss/material-design-lite';

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

@import '~@angular2-mdl-ext/popover/popover';
@import '~@angular2-mdl-ext/select/select';
