@import "./variables";

@mixin no-bullet-list {
  list-style: none;
  padding-left: 0;
}

.jsrol-header {
  &__row {
    align-items: flex-end;

    .mdl-layout__tab {
      margin-right: 20px;
    }
  }
}

.pagination__controls /deep/ .ng2-pagination .current {
  background: unquote("rgb(#{$color-primary})") !important;
}
