@import "~angular2-mdl/scss/mdl/typography/_typography.scss";

main {
  margin: 20px;
}

.admin__edit{
  position: absolute;
  width: 80%;
  heigth: 80%;
}

.mdl-navigation__link {
  &.is-active {
    @extend .mdl-typography--font-bold;
  }
}

mdl-layout-content{
  margin-left: 5vw;
  margin-right: 5vw;
}
