<mdl-layout mdl-layout-fixed-header>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Administration</mdl-layout-title>

      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['tracks']">Parcours</a>
        <a class="mdl-navigation__link" [routerLink]="['events']">Randonnées</a>
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>

  <mdl-layout-content>
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
